.wrapper {
  height: 50vh; /* Hauteur de la fenêtre d'affichage */
  overflow: hidden; /* Empêche l'affichage des éléments qui dépassent de la hauteur de la fenêtre */
  position: relative;
 
}

.content {
  position: absolute;
  top: 0%; /* Place le contenu au centre de la fenêtre */
  transform: translateY(-50%); /* Déplace le contenu vers le haut de 50% de sa hauteur */
  animation-name: scrollDown;
  animation-duration: 3s;
}
.image{
  width: 100CM;
}
/* Définit l'animation pour déplacer le contenu vers le bas */
@keyframes scrollDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.earth {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
  animation: rotate 10s linear infinite;
}

.earth-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('earth.png');
  background-size: contain;
  border-radius: 50%;
  transform-style: preserve-3d;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}


